<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue à vous !{% endblock %}</title>
        <link href="{{  asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
